/* Variables */

:root {
  --primary-color: #6248a5;
  --primary-color-dark: #24183c;
  --primary-color-light: #2b1e49;
  --secondary-color: #ae803b;
}

.toast-header {
  background-color: rgba(0, 0, 0, 0.85) !important;
  color: white !important;
}

.toast {
  background-color: #373d46 !important;
}

.close:hover {
  color: white !important;
}

.close {
  color: white !important;
}

th {
  color: #fcfcfc;
}

@font-face {
  font-family: "Radiance-Regular";
  src: url("../fonts/Radiance-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Radiance-Semibold";
  src: url("../fonts/Radiance-Semibold.otf");
  font-weight: normal;
  font-style: normal;
}

@media all and (max-width: 1599px) {
  /* .sidebar-open:after {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    z-index: 0;
  } */
}

@media all and (min-width: 1600) {
  /* .sidebar-open {
    margin-left: 220px;
  } */
}

.nav-item {
  color: var(--secondary-color) !important;
}

.nav-item:hover {
  color: var(--secondary-color) !important;
  filter: brightness(1.2);
}

.neutral-div {
  width: 100%;
}

.table-head {
  font-family: "Radiance-Semibold";
  font-size: 14px;
  font-weight: 600;
  color: var(--primary-color);
  padding: 1.5em !important;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}

body {
  background-color: #0c0517;
  font-family: "Radiance-Regular";
  font-size: 1em;
  color: #fcfcfc;
  line-height: 1em;
}

a:hover {
  text-decoration: none;
  color: var(--secondary-color);
}

.win {
  color: #a9cf54;
}

.loss {
  color: #c23c2a;
}

.main-content {
  min-height: calc(100vh - 124px);
}

.navbar-brand {
  margin-left: 30px;
}

#main-nav {
  height: 64px;
  box-shadow: 0 2px 4px rgb(11, 134, 196, 0.2);
  position: fixed;
  width: 100%;
  z-index: 10;
  color: var(--secondary-color);
}

#main-nav li a:hover {
  color: var(--secondary-color) !important;
  filter: brightness(1.4);
}

.nav-link {
  font-size: 20px;
  font-weight: 800;
  color: var(--secondary-color);
}

.nav-link a:hover {
  letter-spacing: 1px;
  transition: 0.2s ease;
}

.my-profile-dropdown > a > span, .my-profile-dropdown > a:after {
  color: #ca56c4 !important;
}

.username-dropdown > a > span, .username-dropdown > a:after {
  color: #aeaeaf !important;
}

.username-dropdown > ul {
  text-align: center;
}

.active-link {
  filter: brightness(1.4);
  color: var(--secondary-color) !important;
}

.dropdown-menu {
  background-color: #1b182f;
  border: 1px solid #6f65b1;
  box-shadow: 0 2px 4px rgb(11, 134, 196, 0.2);
  color: white;
  /* left: -50% !important; */
  border-radius: 0 !important;
}

.dropdown-menu:before {
  content: "";
  /* a triangle on the top center of the box */
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #6f65b1;
}

.dropdown-item {
  color: white;
  letter-spacing: 1px;
  font-weight: 500 !important;
  text-transform: capitalize;
}

.dropdown-item:hover {
  filter: brightness(1.2)
}

.dropdown-item:focus,.dropdown-item:hover {
  background-color: #1b182f;
}

.btn {
  font-family: "Radiance-Semibold";
  font-size: 14px;
  letter-spacing: 2px;
  border-radius: 3px;
  /* border: solid 1px var(--primary-color);
  background-color: var(--primary-color); */
  color: #ffffff;
  padding: 6px 30px;
}

.btn:hover {
  transform: translateY(-1px);
  transition: 0.15s ease;
  box-shadow: 0 2px 4px rgb(11, 134, 196, 0.2);
}

.main-layout {
  flex-wrap: wrap;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
}

.main-layout {
  padding-top: 84px;
  flex-wrap: wrap;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
}

.main-layout__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}

.main-layout__content {
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.page-title {
  font-size: 40px;
  font-family: "Radiance-Semibold";
  letter-spacing: 1px;
  color: var(--primary-color);
  margin: 0.5em;
  text-align: center;
}

.pointer:before {
  position: absolute;
  content: " ";
  left: 175%;
  top: 40%;
  display: block;
  width: 20px;
  height: 20px;
  background: #2986c4;
  border-radius: 10px;
  border: 4px solid rgb(41, 134, 196);
  z-index: 10;
}

.color-primary {
  color: var(--primary-color);
}

.table td {
  border: 0;
}

.tb-head {
  font-family: "Radiance-Semibold";
  font-size: 14px;
  font-weight: 600;
  color: #c9bee4;
  padding: 1.5em !important;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}

.tb-head:hover {
  box-shadow: unset;
}

.my-stats td {
  padding: 1.5em !important;
}

tr {
  border: solid 1.1px #403652;
  background-color: var(--primary-color-light);
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

tr:nth-child(even) {
  background-color: var(--primary-color-dark);
}

td {
  font-size: 14px;
  color: #cecece;
  letter-spacing: 0.55px;
  padding: 0 !important;
  border: 0;
  text-align: center;
  font-weight: 600;
  font-family: "Radiance-Semibold";
}

.badge img {
  width: 35px;
}

.gold-color {
  color: #fbb829 !important;
}

.radiant-color {
  color: #92a525;
}

.dire-color {
  color: #c23c2a;
}

.match-history th img {
  height: 40px;
  margin-right: 1em;
}

.table thead th {
  border: 0;
  text-align: center;
}

.table td,
.table th {
  border: 0;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

td a {
  color: #a493d2;
  text-decoration: none;
}

td a:hover {
  text-decoration: none;
  filter: brightness(1.2);
}

.match-history table td:hover {
  box-shadow: unset;
}

.table th {
  color: #c9bee4;
}

.table th a {
  color: #fcfcfc;
}

.table th a:hover {
  filter: brightness(1.2);
  text-decoration: none;
}

.match-item {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-right: 1px;
  vertical-align: top;
}

/* changelog */

.change-log h3 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 32px;
  margin-bottom: 1em;
  letter-spacing: 3px;
  color: var(--primary-color);
  text-shadow: 1px 1px 1px #000000;
}

.change-log h4 {
  margin: 1em 0;
  font-family: "Radiance-SemiBold";
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

.change-log ul {
  list-style-type: disc;
  padding-bottom: 20px;
}

.change-log li {
  font-size: 18px;
  color: #808080;
  line-height: 34px;
  margin-left: -20px;
  text-shadow: 1px 1px 1px #000000;
}

/* my profile */

.view-all {
  position: absolute;
  right: 0;
  bottom: 0;
}

.view-all a {
  display: block;
  padding: 0.5em;
  background-color: #172126;
  color: var(--primary-color);
  font-weight: 600;
  border: solid 1.1px #202e3a;
}

.bg-blk {
  position: relative;
  /* border: solid 1.1px #202e3a;
    background-color: #172126; */
  border: solid 1.1px #403652;
  background-color: #1f1a2b;
  padding-bottom: 4em !important;
}

.more {
  position: absolute;
  bottom: -27px;
  right: 5px;
  font-size: 14px;
}

.more a:hover {
  opacity: 0.8;
}

.more a:before {
  content: "";
  background-image: url(../images/icons/plus-square-solid.svg);
  height: 20px;
  width: 20px;
  right: 55px;
  fill: #fff;
  bottom: 0;
  position: absolute;
  background-repeat: no-repeat;
}

/* Cosmetics / Armory / Shop */
.search-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 50px;
}

.equipped-overlay {
  position: absolute !important;
  bottom: 0;
  top: 0;
  left: 0;
  width: 100%;
}

.search-input {
  position: relative;
  height: 37px;
}

.search-input input {
  outline: transparent;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 8px 15px 9px 42px;
  border: 1px solid var(--primary-color);
  border-radius: 18px;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 15px;
  line-height: normal;
  color: #fff;
  transition: 0.2s ease;
}

.search-input input::-webkit-input-placeholder {
  font-size: 15px;
  white-space: normal;
}

.search-input input::-moz-placeholder {
  font-size: 15px;
  white-space: normal;
}

.search-input input:-ms-input-placeholder {
  font-size: 15px;
  white-space: normal;
}

.search-input input:-moz-placeholder {
  font-size: 15px;
  white-space: normal;
}

.search-input input:focus {
  border: 1px solid #53c0ff;
}

.search-input:before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 15px;
  width: 16px;
  height: 16px;
  transform: translateY(-50%);
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../images/icons/icon_search.svg");
}

.cosmetic-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px 50px;
}

.btns-bar {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.btns-bar label {
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.44px;
  padding: 18px 18px;
  text-align: center;
  font-family: "Radiance-Semibold";
  color: #fcfcfc;
}

.active-filter {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: #fff;
}

.active-filter:before {
  opacity: 1;
  visibility: visible;
}

.active-filter:hover {
  background-color: #212e3a;
  color: var(--primary-color);
}

.btns-bar__btn {
  margin: 0;
  position: relative;
  height: 100%;
  display: flex;
  margin-right: 1px;
  align-items: center;
  padding: 0 12px;
  border: 1px solid var(--primary-color);
  font-size: 15px;
  line-height: 14px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease;
}

.btns-bar__btn_left {
  border-radius: 18px 0 0 18px;
  border-left: 1px solid var(--primary-color);
}

.btns-bar__btn_right {
  margin: 0;
  border-radius: 0 18px 18px 0;
}

.btns-bar__btn_right:before {
  display: none;
}

.btns-bar__btn:hover {
  background-color: rgba(40, 152, 243, 0.349);
}

.cosmetics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cosmetic {
  display: block;
  position: relative;
  padding: 20px 0 5px;
  text-align: center;
  text-decoration: none;
  transition: 0.25s ease-in-out;
  z-index: 1;

  min-height: 292px;

  cursor: pointer;
}

.cosmetic:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.cosmetic:hover .cosmetic__price {
  transition: 0.25s ease-in-out;

  box-shadow: 0 0 35px 0 #684596;
}

.cosmetic:hover .cosmetic__descr:after {
  border-bottom-color: var(--primary-color);
}

.cosmetic__price {
  padding: 10px 20px;
  font-size: 18px;
  margin: 20px 0 35px 0;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.45px;
  color: var(--primary-color);
  font-family: "Radiance-Semibold";
  border-radius: 15px;
  background-color: #36213a;
}

.cosmetic__picture {
  width: 90%;
  margin: auto;
}

.cosmetic__picture img {
  position: relative;
  z-index: 2;
  display: block;
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.cosmetic__descr {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 36px;
  z-index: 3;
}

.cosmetic__descr:before {
  z-index: -1;
  bottom: 0;
  width: 125px;
  height: 30px;
  background-color: #ffde46;
  filter: blur(28px);
  opacity: 0;
  visibility: hidden;
  transform: translateZ(0);
}

.cosmetic__name {
  width: 100%;

  padding: 0 1em;
  position: relative;
  text-overflow: ellipsis;
  transition: 0.25s ease-in-out;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #fcfcfc;
  font-family: "Radiance-Semibold";
}

.cosmetic__descr:after {
  width: 80%;
  border-bottom: 2px solid #193544;
}

.cosmetic__descr:after,
.cosmetic__descr:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: 0.25s ease-in-out;
}

.cosmetic__descr:before {
  z-index: -1;
  bottom: 0;
  width: 125px;
  height: 30px;
  background-color: #ffde46;
  filter: blur(28px);
  opacity: 0;
  visibility: hidden;
  transform: translateZ(0);
}

.cosmetics__item {
  max-width: 200px;
}

.quest-xp-text {
  background-image: linear-gradient(
    to bottom,
    #8f6b29 11%,
    #fde08d 46%,
    #df9f28 83%
  );
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pog-text {
  background-image: linear-gradient(to bottom, #6a53e7 11%, #b3b9bf 83%);
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.quests-background {
  background-color: #2d223b;
  border: 1px solid #1a1a1a;
}

/* Bootstrap Vue */
.modal-content {
  background-color: #13171d;
}

.nav-link.active {
  background-color: black !important;
  color: white !important;
}